div.bottom{
    width: 100%;
    height: 520px;
    margin-top: 24px;
}

div.bottom>div{
    width: 85%;
    height: 510px;
    margin: 0 auto;
    padding-bottom: 8px;
    background-color: #ffff;
    border-top: 1px solid #f0f0f1;
    border-right: 1px solid #f0f0f1;
    border-bottom: 1px solid #f0f0f1;
    border-radius: 18px;
}

div.bottom>div>div{
    width: 400.4px;
    height: 82px;
    padding: 8px 20px 0 20px;
    display: inline-block;
    vertical-align: top;
    border-left: 1px solid #f0f0f1;
}

div.bottom>div>div>div{
    width: 361.4px;
    height: 35.4px;
}

div.bottom>div>div>div>h4{
    font-size: 20px;
    font-weight: 700px;
    font-family: iranyekan, sans-serif;
    color: rgba(35, 41, 51, 0.936);
    display: inline-block;
    line-height: 35.4px;
}

div.bottom>div>div>p{
    font-size: 14px;
    font-weight: 400px;
    font-family: iranyekan;
    line-height: 41px;
    color: #81858b;
}

div.bottom>div>div.first{
    width: 400.4px;
    height: 185.68px;;
    padding: 0 20px;
    border-left: 1px solid #f0f0f1;
}

div.bottom>div>div.first>div{
    width: 177.21px;
    height: 185.68px;
    display: inline-block;
    padding: 8px;
    border-bottom: 1px solid #f0f0f1;
}

div.bottom>div>div.first>div.i{
    border-left: 1px solid #f0f0f1;
    border-bottom: 1px solid #f0f0f1;
}

div.bottom>div>div.first>div>img{
    width: 162.2px;
    height: 160.67px;
}

div.bottom>div>div.second{
    width: 400.4px;
    height: 185px;
    padding: 0 20px;
    border-left: 1px solid #f0f0f1;
}

div.bottom>div>div.second>div{
    width: 177.21px;
    height: 185px;
    display: inline-block;
    padding: 8px;
}

div.bottom>div>div.second>div.i{
    border-left: 1px solid #f0f0f1;
}

div.bottom>div>div.second>div>img{
    width: 162.2px;
    height: 160px;
}

div.bottom>div>div.third{
    width: 400.4px;
    height: 42px;
    margin-top: 4px;
    margin-bottom: 12px;
    padding: 0 20px;
    text-align: center;
    display: inline-block;
    border-left: none;
    position: relative;
}

div.bottom>div>div.third>span{
    display: inline-block;
    font-size: 16px;
    font-weight: 800px;
    color: rgb(25, 191, 211);
    font-family: iranyekan, sans-serif;
    line-height: 42px;
}

div.bottom>div>div.third>span>svg{
    position: absolute;
    bottom: 15px;
    left: 150px;
}