div.document{
    width: 100%;
    height: 300px;
    margin-top: 24px;
    background-color: white;
}
div.document>div{
    width: 85%;
    height: inherit;
    margin: 0 auto;
}
div.document>div>div{
    width: 399px;
    height: inherit;
    display: inline-block;
    padding-left: 12px;
    text-align: center;
}
div.document>div>div>img{
    width: 390px;
    height: inherit;
    border-radius: 15px;
}
div.document>div>div.i{
    width: 404px;
    height: inherit;
    padding-left: 0;
}
div.document>div>div.i>img{
    width: 395px;
}